/* ==UserStyle==
@name           ShuviTube
@namespace      https://github.com/Shuvi-0
@version        1.0.0
@description    A customizable YouTube theme
@author         Shuvi 
@homepageURL    https://github.com/Shuvi-0/ShuviTube
@preprocessor   stylus

--------------------------------------------
@var checkbox darkScrollBar "Dark Scrollbar" 1
@var checkbox littleChanges "Little Changes" 1
@var checkbox antiShorts "Anti Shorts" 1
@var checkbox customColor "custom Color" 1
@advanced color firstColor "Change the first Color" #8e04f0
@var checkbox nonCustomizableChanges "non-Customizable Changes" 1


==/UserStyle== */

@-moz-document domain("www.youtube.com") {
    if (darkScrollBar) {
        * {
            scrollbar-color: #2b2b2b #11111100 !important;
            scrollbar-width: auto !important;
        }
    }
    
    if (littleChanges) {
        #country-code.ytd-topbar-logo-renderer {
            display : none !important;
        }
        #sections.ytd-guide-renderer>ytd-guide-section-renderer.ytd-guide-renderer:nth-child(3),
        #sections.ytd-guide-renderer>ytd-guide-section-renderer.ytd-guide-renderer:nth-child(4) {
            display : none !important;
        }
    }
    
    if (antiShorts) {
        ytd-rich-section-renderer {
            display : none !important;
        }
        ytd-mini-guide-entry-renderer[aria-label="Shorts"] {
            display : none !important;
        }
        a[title="Shorts"] {
            display : none !important;            
        }
    }
    
    if (customColor) {
        .ytp-play-progress,
        .ytp-swatch-background-color,
        .ytp-settings-button.ytp-hd-quality-badge:after,
        #like-bar.ytd-sentiment-bar-renderer,
        #progress.ytd-thumbnail-overlay-resume-playback-renderer,
        #selectionBar.paper-tabs {
            background-color : firstColor !important; 
        }
        ytd-playlist-panel-video-renderer[selected] #index.ytd-playlist-panel-video-renderer,
        #byline.ytd-playlist-panel-video-renderer,
        .ytp-video-menu-item[aria-checked="true"] .ytp-video-menu-item-now-playing,
        .ytp-video-menu-item-author,
        .yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--text,
        yt-formatted-string[ellipsis-truncate] a.yt-formatted-string:last-child,
        #byline.ytd-video-meta-block,
        #channel-title.ytd-channel-renderer span.ytd-channel-renderer,
        #text.ytd-channel-name,
        #items.yt-horizontal-list-renderer > .yt-horizontal-list-renderer:hover a.ytd-grid-video-renderer,
        ytd-compact-video-renderer:hover #video-title.ytd-compact-video-renderer,
        ytd-video-renderer:hover #video-title.ytd-video-renderer,
        ytd-playlist-renderer:hover h3.ytd-playlist-renderer,
        #content.ytd-playlist-video-renderer:hover #video-title,
        a.yt-simple-endpoint.ytd-playlist-panel-video-renderer:hover #video-title,
        a.yt-simple-endpoint.ytd-playlist-panel-video-renderer:hover #unplayableText,
        .style-scope.ytd-grid-renderer.use-ellipsis:hover #video-title, #video-title:hover,
        ytd-grid-video-renderer:hover #video-title.yt-simple-endpoint.ytd-grid-video-renderer,
        svg g path[d="M27.9727 3.12324C27.6435 1.89323 26.6768 0.926623 25.4468 0.597366C23.2197 2.24288e-07 14.285 0 14.285 0C14.285 0 5.35042 2.24288e-07 3.12323 0.597366C1.89323 0.926623 0.926623 1.89323 0.597366 3.12324C2.24288e-07 5.35042 0 10 0 10C0 10 2.24288e-07 14.6496 0.597366 16.8768C0.926623 18.1068 1.89323 19.0734 3.12323 19.4026C5.35042 20 14.285 20 14.285 20C14.285 20 23.2197 20 25.4468 19.4026C26.6768 19.0734 27.6435 18.1068 27.9727 16.8768C28.5701 14.6496 28.5701 10 28.5701 10C28.5701 10 28.5677 5.35042 27.9727 3.12324Z"],
        a.yt-simple-endpoint.yt-formatted-string:only-of-type:hover,
        .title:hover, #expand.ytd-text-inline-expander:hover,
        #collapse.ytd-text-inline-expander:hover {
            color: firstColor !important;
        }
        #hearted-border.ytd-creator-heart-renderer,
        #hearted.ytd-creator-heart-renderer {
            color: firstColor !important;
            fill: firstColor !important;
        }
        a:hover {
            color: firstColor !important;
            fill: firstColor !important;
        }
        .badge-style-type-simple.ytd-badge-supported-renderer,
        .badge-style-type-disabled.ytd-badge-supported-renderer,
        yt-icon.ytd-badge-supported-renderer {
            background: transparent !important;
            color: firstColor !important;
            padding-left: 0px !important;
            opacity: 0.7 !important;
        }
        #content.ytd-expander a:hover, #published-time-text.ytd-comment-renderer a:hover, #content.ytd-expander #name.ytd-author-comment-badge-renderer:hover, .yt-core-attributed-string--link-inherit-color .yt-core-attributed-string__link--call-to-action-color:hover {
            color: firstColor !important;
            opacity: 1 !important;
        }
        #content.ytd-expander a, .yt-core-attributed-string--link-inherit-color .yt-core-attributed-string__link--call-to-action-color {
            color: firstColor !important;
            opacity: 0.9;
        }
        #label.ytd-pinned-comment-badge-renderer {
            color: firstColor !important;
            opacity: 0.5;
        }
        .badge-style-type-live-now.ytd-badge-supported-renderer, .badge-style-type-live-now-alternate.ytd-badge-supported-renderer {
            color: firstColor !important;
            background: transparent !important;
            border-color: firstColor !important;
        }
         
        .yt-simple-endpoint.style-scope.yt-formatted-string {
            color: #ccc !important;
        }.yt-spec-icon-badge-shape--type-notification .yt-spec-icon-badge-shape__badge {
            background-color: firstColor !important;
            border: none !important;
        }
        [id^=yt-logo] g path[d="M27.9727 3.12324C27.6435 1.89323 26.6768 0.926623 25.4468 0.597366C23.2197 2.24288e-07 14.285 0 14.285 0C14.285 0 5.35042 2.24288e-07 3.12323 0.597366C1.89323 0.926623 0.926623 1.89323 0.597366 3.12324C2.24288e-07 5.35042 0 10 0 10C0 10 2.24288e-07 14.6496 0.597366 16.8768C0.926623 18.1068 1.89323 19.0734 3.12323 19.4026C5.35042 20 14.285 20 14.285 20C14.285 20 23.2197 20 25.4468 19.4026C26.6768 19.0734 27.6435 18.1068 27.9727 16.8768C28.5701 14.6496 28.5701 10 28.5701 10C28.5701 10 28.5677 5.35042 27.9727 3.12324Z"] {
            fill : firstColor !important;
        }
        .ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox {
            background : firstColor !important;
        }
        .ytp-chrome-controls .ytp-button[aria-pressed]:after,
        #newness-dot.ytd-guide-entry-renderer,
        .YtProgressBarPlayheadProgressBarPlayheadDot,
        .YtProgressBarLineProgressBarPlayed {
            background-color : firstColor !important;
        }     
    }
    
    if (nonCustomizableChanges) {
        ytd-author-comment-badge-renderer {
            background-color: #232323 !important;
        }
        a.yt-simple-endpoint.yt-formatted-string:only-of-type {
            color: #eff0f1 !important;
        }
    }
    
}

